.infoContainer {
  /* border: 1px solid lime; */
  margin-top: 10px;
}

.infoWrapper {
  /* border: 1px solid red; */
  margin-top: 10px;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.info {
  border: 1px solid orange;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.subTitle {
  color: rgb(158, 196, 70);
}
