.container {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 5px;
    background-color: #fff;
  border-radius: 10px;
}

.taskContainer {
  border: 1px solid firebrick;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  /* border-radius: 10px; */
}
