.databaseContainer {
  height: 100%;
  /* border: 3px solid whitesmoke; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.dbContainer {
  margin-top: 10px;
  padding: 0px;
}

.dbSubtitle {
  color: black;
}

.dbInfo {
  margin-top: 10px;
}

.dbImageContainer {
  margin-block-start: auto;
  padding-top: 10px;
  /* border: 1px solid red; */
  margin-block-start: auto;
}

.dbImage {
  padding: 0;
  /* border: 1px solid yellowgreen; */
  display: block;
  object-fit: cover;
  height: 7rem;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
