.mainContainer {
  border: 1px solid whitesmoke;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: .85em;  
}

.mainContainer > * {
  border-radius: 1rem;
  /* border-color: 1px solid whitesmoke; */
}

.two {
  grid-column-start: 2;
  grid-column-end: 4;
}
