.mainContainer {
  /* border: 1px solid whitesmoke; */
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: .85rem;
}

.two {
  grid-column-start: 2;
  grid-column-end: 4;
}

.serverContainer{
  opacity: 0;
  animation: fadeIn 5s forwards ;
}

@keyframes fadeIn{
  100%{
    opacity: 1;
  }
}