.mainContainer {
  /* border: 1px solid whitesmoke; */
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: .85rem;
}

.profileContainer{
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 1s ;
}


.title {
  grid-column-start: 2;
  grid-column-end: 4;
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

.introductionContainer{
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}

.BackendArchitectureContainer{
  grid-column-start: 3;
  grid-column-end: 5;
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  display: flex;
}

.bannerContainer{
  grid-column-start: 1;
  grid-column-end: 5;
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
}

.serverContainer{
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 7s;
}

.databaseContainer{
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
}

.applicationInfoContainer{
  opacity: 0;
  animation: fadeIn 3s forwards ;
  animation-timing-function: ease-in-out;
  animation-delay: 9s;
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}