.applicationContainer{
  height: 100%;
  border: 3px solid whitesmoke;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  /* border: 1px solid orangered; */
  display: flex;
  margin-top: 10px;
  padding: 0;
  margin-block-start: auto;
}

.appInfoContainer {
  margin-top: 10px;
  padding: 0;
}

.appSubtitle {
  color: black;
}

.appInfo {
  margin-top: 10px;
}
