.applicationContainer{
  height: 100%;
  /* border: 3px solid whitesmoke; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  /* border: 1px solid orangered; */
  margin-top: 10px;
  padding: 0;
  margin-block-start: auto;
}

.appInfoContainer {
  margin-top: 10px;
  padding: 0;
}

.appSubtitle {
  color: black;
}

.appInfo {
  margin-top: 10px;
}

.appImage {
  padding: 0;
  /* border: 1px solid yellowgreen; */
  display: block;
  object-fit: cover;
  height: 7rem;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
