.bannerWrapper{
  border: 3px solid whitesmoke;
  padding: 0px;
  border-radius: 10px;
}

.banner{
  display: block;
  width: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 10px;
  max-height: 500px;
}