.container {
  border: 3px solid whitesmoke;
  border-radius: 20px;
  height: 100%;
  padding: 10px;
}

.profileImg {
  margin-top: 10px;
  max-height: 300px;
  border-radius: 20px;
}

.location {
  /* border: 1px solid orangered; */
}

.bio{
  margin-top: 10px;
}
