.container {

  border: 1px solid lightgreen;
  padding: 10px;
  height: 100%;
}

.container > * {
  margin: 0px;
}

.profileImg {
  display: block;
  object-fit: cover;
  width: 100;
  margin-top: 100px;
  height: 7rem;
  border-radius: 100em;
  margin: auto;
}

.profileName {
  font-size: 3rem;
  text-align: center;
  line-height: 1;
}

.role {
  margin-top: 20px;
  text-align: center;
  font-size: 1.25rem;
}

.location {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.bio {
  text-align: center;
  margin-bottom: 10px;
}

.profileBanner {
  max-height: 10rem;
  padding: auto;
  max-width: 100%;
  border-radius: 2rem;
}
