.titleContainer {
  min-height: 100%;
  border: 3px solid whitesmoke;
  /* border: 1px solid tomato; */
  border-radius: 20px;
}

.mainTitle {
  font-size: 7.5rem;
  opacity: 0;
}

@keyframes fadeIn{
  opacity: 1;
}
