.titleContainer {
  min-height: 100%;
  border: 3px solid whitesmoke;
  /* border: 1px solid tomato; */
  border-radius: 20px;
}

.mainTitle {
  font-size: 7.5rem;
  opacity: 0;
  animation: fadeIn 10s forwards;
}

@keyframes fadeIn{
  100%{
    opacity: 1;
  }
}
