.card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 45%, 0.7);
  /* max-width: 25em; */
  height: auto;
  display: block;
}

.name {
  font-size: 1.5em;
  text-align: center;
  color: orange;
}

.profilePic {
  object-fit: cover;
  max-height: 100px;
  max-width: 100px;
  border-radius: 500px;
  outline-offset: 3px;
  margin: auto;
  box-shadow: 2px 3px 10px hsla(0, 0%, 45%, 0.7);
}

.role {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.location {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
}

.bio {
  max-width: 200px;
  font-size: 0.75rem;
  margin: auto;
}

.banner {
  max-height: 100px;
  object-fit: cover;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: hsl(181, 32%, 50%);
  color: aliceblue;
  text-align: center;
}

.button:active {
  background-color: hsla(83, 50%, 62%, 0.701);
}
