.card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 45%, 0.7);
  max-width: 70%;
  height: auto;
  display: inline-block;
}

.name {
    font-size: 1.5em;
}

.profilePic {
    object-fit: cover;
    max-height: 100px;
    max-width: 100px;
    border-radius: 500px;
}

.role {
}

.location {
}

.bio {
}

.banner {
}

.button {
}

.button:hover {
}

.button:active {
}
