.card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 45%, 0.7);
  max-width: 70%;
  height: auto;
  display: inline-block;
}

.name {
    font-size: 1.5em;
}

.profilePic {
    object-fit: cover;
    max-height: 100px;
    max-width: 100px;
    border-radius: 500px;
    outline-offset: 3px;
    margin: auto;
    box-shadow: 2px 3px 10px hsla(0, 0%, 45%, 0.7);
}

.role {
}

.location {
}

.bio {
}

.banner {
    max-height: 100px;
    /* width: 100%; */
    object-fit: cover;
}

.button {
}

.button:hover {
}

.button:active {
}
